body {
	color: #000000;
	font-size: 18px;
	font-family: Georgia;
	margin: 0px auto 0px;
	}

/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
/*    color: #0000A0; */
	text-decoration: none;
}
	
a:hover {
	text-decoration: underline;
}

/* editorial notes */
a.note {
/*    font-style: italic; */
}

a.note:hover {
	text-decoration: none;
}

#content {
	width: 480px;
	margin: 0px auto 0px;
	padding: 20px 10px 0px 10px;
    text-align: justify;
	}

#content p {
	padding: 0px 0px 1em 0px;
	margin: 0px;
	line-height: 1.4em;
}

h1 {
    text-align: center;
    font-size: 18px;
}
